---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(await import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "My Blog";

---

<BaseLayout pageTitle={pageTitle}>
		<h2>BLog title</h2>

        <p>Hier kommen die ganzen Blog-Posts rein:</p>
        <ul>
  {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        </ul>
</BaseLayout>